* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: #ccc;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#calculator {
	position: relative;
	border-radius: 7px;
	margin: auto;
	margin-top: 20px;
	display: block;
	height: auto;
	width: 278px;
	background-color: rgb(255, 255, 255);
	font-size: 0.8em;
	padding: 5px;
	max-width: 320px;
}
#calculator:before,
#calculator:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}
#calculator:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

#smallResult {
	position: absolute;
	top: 3px;
	right: 10px;
}

#result {
	width: 100%;
	padding: 15px 0px;
	text-align: right;
	font-size: 2.5em;
	font-family: 'Oxygen Mono', monospace;
	background: inherit;
	color: black;
}

button {
	width: 60px;
	height: 60px;
	margin: 4px 2px;
	outline: none;
	border: none;
	background: rgb(223, 223, 223);
	color: black;
	border-radius: 5px;
	font-size: 1.4em;
}

button:active {
	background: #bfbfbf;
}

button:nth-child(2) {
	margin-left: 205px;
	display: block;
	background: #ef4a49;
	color: white;
}

button:nth-child(2):active {
	background: #b14e4d;
}

button:nth-child(6),
button:nth-child(10),
button:nth-child(14),
button:nth-child(17),
button:nth-child(18) {
	background: #00b49a;
	color: white;
}

button:nth-child(6):active,
button:nth-child(10):active,
button:nth-child(14):active,
button:nth-child(17):active,
button:nth-child(18):active {
	background: #218d7e;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 20px;
	width: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	display: inline;
	font-size: 50px;
	color: #131313;
	letter-spacing: 0.05em;
	transition: all 0.3s;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
		-3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
		-6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
		-9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
		-12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
		-15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
		-18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
		-21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
		-24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
		-27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

h1:hover {
	text-shadow: 1px -1px 0 #767676, 1px 2px 1px #737272, 2px 4px 1px #767474,
		3px 6px 1px #787777, 4px 8px 1px #7b7a7a, 5px 10px 1px #7f7d7d,
		6px 12px 1px #828181, 7px 14px 1px #868585, 8px 16px 1px #8b8a89,
		9px 18px 1px #8f8e8d, 10px 20px 1px #949392, 11px 22px 1px #999897,
		12px 24px 1px #9e9c9c, 13px 26px 1px #a3a1a1, 14px 28px 1px #a8a6a6,
		15px 30px 1px #adabab, 16px 32px 1px #b2b1b0, 17px 34px 1px #b7b6b5,
		18px 36px 1px #bcbbba, 19px 38px 1px #c1bfbf, 20px 40px 1px #c6c4c4,
		21px 42px 1px #cbc9c8, 22px 44px 1px #cfcdcd, 23px 46px 1px #d4d2d1,
		24px 48px 1px #d8d6d5, 25px 50px 1px #dbdad9, 26px 52px 1px #dfdddc,
		27px 54px 1px #e2e0df, 28px 56px 1px #e4e3e2;
}
